<uib-alert  type="{{alert.type}}" close="closeAlert()" dismiss-on-timeout="3000" uib-collapse="isCollapsed">{{alert.msg}}</uib-alert>
<h2 class="sub-header">添加网站</h2>
    <div class="row">
        <form class="form-horizontal" role="form" name="myForm">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="title" class="col-md-2 control-label">
                        网站名
                    </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="title" autofocus id="title"  ng-model="websites.websites_name" required>
                        <div class="help-block" ng-messages="myForm.title.$error" ng-if="myForm.title.$touched">
                            <p ng-message="required" style="color:red">网站名必须填</p>
                        </div>
                    </div>
                </div>

                {{message}}
                {{success}}
                <div class="form-group">
                <div class="col-md-2"></div>
                    <div class="col-md-10">
                    <button type="button" class="btn btn-success" ng-click="create()">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>