<h2 class="sub-header">添加网站</h2>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">
                    网站名
                </label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="title" autofocus id="title"  ng-model="websites.websites_name">
                </div>
            </div>

            {{message}}
            {{success}}
            <div class="form-group">
            <div class="col-md-2"></div>
                <div class="col-md-10">
                <button type="button" class="btn btn-success" ng-click="create()">保存</button>
                </div>
            </div>
        </div>
    </div>