
<h2 class="sub-header">接口列表</h2>
          <div class="table-responsive ">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#id</th>
                  <th width="200">标题</th>
                  
                  <th >操作</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in list">
                  <td>{{row.websites_id}}</td>
                  <td>{{row.websites_name}}</td>
                  
                  <td>
                  <a type="button" class="btn btn-success" ui-sref="main.websites.edit({id:row.websites_id})" >编辑</a>
                  <button type="button" class="btn btn-danger" ng-click="deleted({id:row.websites_id})" >删除</button>
                  </td>
                </tr>                
              </tbody>
            </table>
<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" num-pages="numPages" class="pagination-sm" boundary-link-numbers="true" rotate="false" items-per-page="itemsPerPage" ng-change="pageChanged()" style="margin-top:-15px;float:right"></uib-pagination>
          </div>