<uib-alert  type="{{alert.type}}" close="closeAlert()" dismiss-on-timeout="3000" uib-collapse="isCollapsed">{{alert.msg}}</uib-alert>
<h2 class="sub-header">修改接口</h2>
    <div class="row">
    <form class="form-horizontal" role="form" name="myForm">
        <div class="col-md-10">
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">
                    标题
                </label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="title" autofocus id="title"  ng-model="posts.posts_title" required>
                    <div class="help-block" ng-messages="myForm.posts_title.$error" ng-if="myForm.posts_title.$touched">
                        <p ng-message="required" style="color:red">标题必须填</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="subtitle" class="col-md-2 control-label">
                    网站
                </label>
                <div class="col-md-10">
                    
                    <select ng-model="posts.website" ng-options="c.websites_id as c.websites_name   for c in posts.websites" class="form-control" ng-selected="c.websites_id==posts.website">
                        <option value="">请选择网站</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="subtitle" class="col-md-2 control-label">
                    项目
                </label>
                <div class="col-md-10">
                    
                    <select ng-model="posts.project" ng-options="p.projects_id as p.projects_name   for p in posts.projects" class="form-control" ng-selected="p.projects_id==posts.project">
                        <option value="">请选择项目</option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label for="subtitle" class="col-md-2 control-label">
                    备注
                </label>
                <div class="col-md-10">
                    <textarea id='textarea' class="form-control" ng-model="posts.posts_description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="subtitle" class="col-md-2 control-label">
                    内容
                </label>
                <div class="col-md-10">
                    <trix-editor angular-trix ng-model="posts.posts_content" style="min-height:300px"></trix-editor>
                </div>
            </div>
            {{message}}
            {{success}}
            <div class="form-group">
            <div class="col-md-2"></div>
                <div class="col-md-10">
                <button type="button" class="btn btn-success" ng-click="edit()">保存</button>
                </div>
            </div>
        </div><form>
    </div>